{{!-- Photo Section && Description --}}
<div class="section">
  <div class="row">
   <div class="col s4">
    <img class="responsive-img circle" src="assets/images/me.jpg">
   </div>
   <div class="col s12 m6">
     <h3>23. Programmer. Music Lover. Gamer. And Much More.</h3>
   </div>
   <div class="col s12 m6">
     <p>
      I have a passion to create and build new things. From the age of ten I have
      been intrigued with technology and how it works. Starting off with building
      a computer at thirteen, I soon became hooked. My passion for programming came
      later on in college. Feel free to contact me with the social media links
      below or just take a look at my resume to checkout a summary of what I've done!
    </p>
      <a href="assets/resume/resume-alec.pdf" download>
        <img class="responsive-img" src="assets/resume/resume-alec.png">
      </a>
     <h3>Thanks for stopping by!</h3>
   </div>
 </div>
</div>
