<h2>Alec Dilanchian is...</h2>
{{!-- Photo Section && Description --}}
<div class="section">
  <div class="row">
   <div class="col s4">
    <img class="responsive-img circle" src="assets/images/me.jpg">
   </div>
   <div class="col s6">
     <h3>Some Cool Ass content should go here!</h3>
   </div>
   <div class="col s6">
     <p>yayayayayayayayayayyayayayayayay</p>
   </div>
 </div>
</div>
