<h2>Alec Dilanchian is...</h2>
{{!-- Photo Section && Description --}}
<div class="section">
  <div class="row">
   <div class="col s4">
    <img class="responsive-img circle" src="assets/images/me.jpg">
   </div>
   <div class="col s6">
     <h3>Some Cool Ass content should go here!</h3>
   </div>
   <div class="col s6">
     <p>yayayayayayayayayayyayayayayayay</p>
   </div>
 </div>
</div>
{{!-- Image carousel --}}
<div class="section">
  {{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=2000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true}}
    <div><img class="responsive-img carousel" src="assets/images/skyline.jpg"></div>
    <div><img class="responsive-img carousel" src="assets/images/some-person.jpg"></div>
    <div><img class="responsive-img carousel" src="assets/images/ocean.jpg"></div>
  {{/slick-carousel}}
</div>
