{{!-- NavBar --}}
{{#md-navbar name='Alec Dilanchian'}}
  {{#link-to 'about' tagName='li'}}
    {{link-to 'About Me' 'about'}}
  {{/link-to}}
  {{#link-to 'programs' tagName='li'}}
    {{link-to 'Programs' 'programs'}}
  {{/link-to}}
  {{#link-to 'projects' tagName='li'}}
    {{link-to 'Projects' 'projects'}}
  {{/link-to}}
{{/md-navbar}}
<body>
  <main>
    {{outlet}}
  </main>
</body>
<footer class="page-footer">
    <div class="container center">
      <a class="grey-text text-lighten-4" href="https://github.com/adilanchian">Github | </a>
      <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/alecdilanchian">LinkedIn | </a>
      <a class="grey-text text-lighten-4" href="https://www.facebook.com/adilanchian93">Facebook | </a>
      <a class="grey-text text-lighten-4" href="https://twitter.com/alec_dilanchian">Twitter</a>
    </div>
</footer>