{{!-- Carousel --}}
  {{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=2000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true}}
    <div><img class="responsive-img carousel" src="assets/images/skyline.jpg"></div>
    <div><img class="responsive-img carousel" src="assets/images/some-person.jpg"></div>
    <div><img class="responsive-img carousel" src="assets/images/ocean.jpg"></div>
  {{/slick-carousel}}
{{!-- Title --}}
<div class="section center">  
  <div class="row">
    <div class="col s12">
      <h1>My Name Is Alec.</h1>
      <h4>I work on a few things</h4>
    </div>
  </div>  
</div>
<div class="divider title-section"></div>
{{!-- Description Container --}}
<div class="section">  
  <div class="row description-section">
    <div class="col s4">
      <div class="center promo">
      {{#link-to "programs"}}{{material-design-icon name="code" class="large"}}{{/link-to}}
        <h5>Program</h5>
        <p class="light center">
          I do some pretty cool stuff. I know thanks so much!
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo">
        {{#link-to "projects"}}{{material-design-icon name="web" class="large"}}{{/link-to}}
        <h5>Develop</h5>
        <p class="light center">
          I do some pretty cool stuff. I know thanks so much!
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo">
        {{#link-to "about"}}{{material-design-icon name="build" class="large"}}{{/link-to}}
        <h5>Tinker</h5>
        <p class="light center">
          I do some pretty cool stuff. I know thanks so much!
        </p>
      </div>
    </div>
  </div>
</div>