{{!-- Banner Image --}}
<img class="responsive-img" src="assets/images/bg.jpg">
{{!-- Title --}}
<div class="section center">  
  <div class="row">
    <div class="col s12">
      <h1>My Name Is Alec.</h1>
      <h4>Come get to know me</h4>
    </div>
  </div>  
</div>
<div class="divider title-section"></div>
{{!-- Description Container --}}
<div class="section">  
  <div class="row description-section">
    <div class="col s4">
      <div class="center promo">
      {{#link-to "programs"}}{{material-design-icon name="code" class="large"}}{{/link-to}}
        <h5>Programmer</h5>
        <p class="light center">
          School, self taught, and ready to learn Programming daily is what I do
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo">
        {{#link-to "projects"}}{{material-design-icon name="web" class="large"}}{{/link-to}}
        <h5>Developer</h5>
        <p class="light center">
          See my skills put to the test and take a look at what I've done
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo">
        {{#link-to "about"}}{{material-design-icon name="create" class="large"}}{{/link-to}}
        <h5>Creator</h5>
        <p class="light center">
          Creator at heart and ready to implement out of this world ideas
        </p>
      </div>
    </div>
  </div>
</div>