<h2>Projects</h2>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s4">
      <div class="card small">
        <div class="card-image">
          <img src="assets/images/ocean.jpg">
          <span class="card-title">Cycles</span>
        </div>
        <div class="card-content">
          <p>
            This is the descroption of my project!
          </p>
        </div>
        <div class="card-action">
          <a href="http://www.getcyclesapp.co">Get Cycles Now</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small">
        <div class="card-image">
          <img src="assets/images/ocean.jpg">
          <span class="card-title">SwiftyCode</span>
        </div>
        <div class="card-content">
          <p>
            This is the descroption of my project!
          </p>
        </div>
        <div class="card-action">
          <a href="#!">Get SwiftyCode</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small">
        <div class="card-image">
          <img src="assets/images/ocean.jpg">
          <span class="card-title">Memories</span>
        </div>
        <div class="card-content">
          <p>
            This is the descroption of my project!
          </p>
        </div>
        <div class="card-action">
          <a href="#!">Memories Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
