// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

//-- Misc --//
a {
  color: black;
}

//-- Navbar --//
.nav-wrapper {
  @extend .green, .lighten-2;
  
  a {
    margin-left: 15px;
  }
}

//-- Footer Stuck To Bottom --//
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @extend .grey, .lighten-2;
  
  main {
    flex: 1 0 auto;
    h3 {
      margin-left: 11px;
    }
    
    //-- Index Page --//
    .divider {
      @extend .green, .lighten-2;
      
      &.title-section {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
    }
    
    .description-section {
      margin-top: 47px;
    }
  }
  
  .row {
    .swift {
      .card-image {
        img {
          width: 50%;
          margin-left: 26%;
        }
      }
    }
    .card {
      .card-action {
        a {
          color: #000 !important;
        }
        a:hover {
          color: #8bc34a !important;
        }
      }
    }
  }
  //-- Programs page --//
  .materialize-tabs {
    margin-top: 20px;
    .tabs {
      .indicator {
        background-color: #8bc34a;
      }
      .col {
        a {
          color: #000;
          &:hover {
            color: #8bc34a;
            cursor: pointer;
          }
        }
      }
    }
  }
  h2 {
    margin-left: 15px;
  }
  .responsive-img {
    &.programs {
      max-width: 50%;
    }
  }
}
footer.page-footer {
  padding-top: 6px;
  @extend .green, .lighten-2;
  div.container {
    a:hover {
      cursor: pointer;
      color: green !important;
    }
  }
}
