// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

//-- Misc --//
a {
  color: black;
}

//-- Navbar --//
.nav-wrapper {
  @extend .green, .lighten-2;
}

//-- Footer Stuck To Bottom --//
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @extend .grey, .lighten-2;
  
  main {
    flex: 1 0 auto;
    
    //-- Index Page --//
    .divider {
      @extend .green, .lighten-2;
      
      &.title-section {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
    }
    
    .description-section {
      margin-top: 47px;
    }
  }
  //-- About Me page --//
  .responsive-img {
    &.carousel {
      width: 100%;
      height: 500px;
    }
  }
  //-- Programs page --//
}
footer.page-footer {
  @extend .green, .lighten-2;
  div.container {
    a:hover {
      color: green !important;
    }
  }
}
