<div class="section">
  <div class="collection">
    <a href="#!" class="collection-item">LinkedList C++</a>
    <a href="#!" class="collection-item">AddAll C</a>
    <a href="#!" class="collection-item">ListyString C</a>
  </div>
</div>
