<div class="row">
  {{#each cardArray as |card|}}
    <div class="col s12 m6 l3">
      {{#md-card title=card.title
        titleClass="light-green-text"
        image=card.image
        id=card.id
        class="hoverable"}}
        {{#md-card-content}}
          {{card.content}}
        {{/md-card-content}}
        {{#md-card-action}}
          <a target="_blank" href="{{unbound card.link}}">{{card.linkTitle}}</a>
        {{/md-card-action}}
      {{/md-card}}
    </div>
  {{/each}}
</div>