<div class="section">
  <div class="collection">
    <a href="#!" class="collection-item">Cycles</a>
    <a href="#!" class="collection-item">Age</a>
    <a href="#!" class="collection-item">Guessing Game</a>
  </div>
</div>